In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('df').master('local[2]').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/04 15:11:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/04 15:11:37 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [4]:
df = spark.read.csv("/home/hadoop/Downloads/custs_without_header.csv",header=True)

In [5]:
df.show(3)

+----------+----------+---------+---+-----------+
|custmer_id|First_name|Last_name|age| Occupation|
+----------+----------+---------+---+-----------+
|   4000001|  Kristina|    Chung| 55|      Pilot|
|   4000002|     Paige|     Chen| 74|    Teacher|
|   4000003|    Sherri|   Melton| 34|Firefighter|
+----------+----------+---------+---+-----------+
only showing top 3 rows

In [6]:
df.printSchema()

root
 |-- custmer_id: string (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Occupation: string (nullable = true)

In [7]:
from pyspark.sql.types import StringType,StructType,StructField,IntegerType

In [8]:
custSchema = StructType([
    StructField("custmer_id",StringType()),
    StructField("First_name",StringType()),
    StructField("Last_name",StringType()),
    StructField("age",IntegerType()),
    StructField("Occupation",StringType()),
])

In [9]:
df = spark.read.csv("/home/hadoop/Downloads/custs_without_header.csv",header=True,schema=custSchema)

In [10]:
df.printSchema()

root
 |-- custmer_id: string (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Occupation: string (nullable = true)

In [16]:
from pyspark.sql.types import StringType,StructType,StructField,IntegerType,FloatType,DateType

In [21]:
dff = spark.read.csv("/home/hadoop/Downloads/txns_with_header.csv",header=True)

In [22]:
dff.show(4)

+--------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|  txn_id|    txn_dt|    cid|   amt|          prod_cat|                prod|       city|     state|  mode|
+--------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|00000000|06-26-2011|4007024|040.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee|credit|
|00000001|05-26-2011|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California|credit|
|00000002|06-01-2011|4009775|005.58|Exercise & Fitness|Weightlifting Mac...|    Anaheim|California|credit|
|00000003|06-05-2011|4002199|198.19|        Gymnastics|    Gymnastics Rings|  Milwaukee| Wisconsin|credit|
+--------+----------+-------+------+------------------+--------------------+-----------+----------+------+
only showing top 4 rows

In [25]:
dff.printSchema()

root
 |-- txn_id: string (nullable = true)
 |-- txn_dt: string (nullable = true)
 |-- cid: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- prod_cat: string (nullable = true)
 |-- prod: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

In [64]:
txnSchema = StructType([
    StructField("txn_id",IntegerType()),
    StructField("txn_dt",DateType()),
    StructField("cid",IntegerType()),
    StructField("amt",FloatType()),
    StructField("prod_cat",StringType()),
     StructField("prod",StringType()),
    StructField("city",StringType()),
    StructField("state",StringType()),
    StructField("mode",StringType()),
    
])

In [212]:
dff = spark.read.csv("/home/hadoop/Downloads/txns_with_header.csv",header=True,schema=txnSchema,dateFormat='M-d-y',mode="DROPMAL FORMED")

In [213]:
dff.printSchema()

root
 |-- txn_id: integer (nullable = true)
 |-- txn_dt: date (nullable = true)
 |-- cid: integer (nullable = true)
 |-- amt: float (nullable = true)
 |-- prod_cat: string (nullable = true)
 |-- prod: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- mode: string (nullable = true)

In [214]:
dff.show(2)

+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|                prod|       city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
|     0|2011-06-26|4007024| 40.33|Exercise & Fitness|Cardio Machine Ac...|Clarksville| Tennessee|credit|
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves| Long Beach|California|credit|
+------+----------+-------+------+------------------+--------------------+-----------+----------+------+
only showing top 2 rows

26/02/04 19:39:17 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:17 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [215]:
# select cid, amount, state

dff.select('cid','amt','state').show(2)

+-------+------+----------+
|    cid|   amt|     state|
+-------+------+----------+
|4007024| 40.33| Tennessee|
|4006742|198.44|California|
+-------+------+----------+
only showing top 2 rows

26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [216]:
# get all the record where the state  is calofornia 

dff.where("state = 'California'").show(2)

+------+----------+-------+------+------------------+--------------------+----------+----------+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|                prod|      city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+----------+----------+------+
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves|Long Beach|California|credit|
|     2|2011-06-01|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|   Anaheim|California|credit|
+------+----------+-------+------+------------------+--------------------+----------+----------+------+
only showing top 2 rows

26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [217]:
# record where state start with s
dff.where("state LIKE 'S%'").show(5)

26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

+------+----------+-------+------+------------------+--------------------+----------+--------------+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|                prod|      city|         state|  mode|
+------+----------+-------+------+------------------+--------------------+----------+--------------+------+
|     6|2011-10-28|4002190| 27.89|           Puzzles|      Jigsaw Puzzles|Charleston|South Carolina|credit|
|    16|2011-05-28|4009135| 35.56|Exercise & Fitness|    Free Weight Bars|  Columbia|South Carolina|credit|
|    53|2011-06-12|4003091| 44.46|      Water Sports|Scuba Diving & Sn...|Charleston|South Carolina|  cash|
|    76|2011-07-26|4003860|170.05|           Jumping|         Trampolines|Charleston|South Carolina|credit|
|   110|2011-04-18|4001165|197.47|Exercise & Fitness|      Medicine Balls|Charleston|South Carolina|credit|
+------+----------+-------+------+------------------+--------------------+----------+--------------+------+
only showing top 5 rows

In [218]:
# record where the state is texas, california and illlinios

dff.where("state IN ('Texas','California','Illinois')").show(5)

+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|                prod|         city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves|   Long Beach|California|credit|
|     2|2011-06-01|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|      Anaheim|California|credit|
|     5|2011-02-14|4007591|193.63|Outdoor Recreation|Camping & Backpac...|      Chicago|  Illinois|credit|
|    12|2011-02-08|4002473| 41.52|      Indoor Games|             Bowling|San Francisco|California|credit|
|    14|2011-02-25|4004613| 36.81|        Gymnastics|     Vaulting Horses|  Los Angeles|California|credit|
+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
only showing top 5 rows

26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [219]:
# get all the record where amt is between 100 and 120 for state texas

dff.where("state = 'Texas' AND amt BETWEEN 100 AND 120").show(5)

+------+----------+-------+------+------------------+-----------------+-----------+-----+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|             prod|       city|state|  mode|
+------+----------+-------+------+------------------+-----------------+-----------+-----+------+
|   101|2011-11-09|4000918|119.77|           Jumping|      Pogo Sticks|Brownsville|Texas|credit|
|   247|2011-04-29|4000987|118.17|       Team Sports|Indoor Volleyball|Brownsville|Texas|credit|
|   290|2011-01-14|4002340|106.57|Outdoor Recreation|      Motorsports|    El Paso|Texas|credit|
|   469|2011-04-13|4003977|118.43|Exercise & Fitness|   Weight Benches|    El Paso|Texas|credit|
|   506|2011-08-15|4005887|118.24|        Air Sports|       Parachutes|    Houston|Texas|credit|
+------+----------+-------+------+------------------+-----------------+-----------+-----+------+
only showing top 5 rows

26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:18 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

### column based expression

In [220]:
from pyspark.sql.functions import col

In [221]:
# select cid, amount, state

dff.select(col('state'),col('amt'),col('state')).show(3)

+----------+------+----------+
|     state|   amt|     state|
+----------+------+----------+
| Tennessee| 40.33| Tennessee|
|California|198.44|California|
|California|  5.58|California|
+----------+------+----------+
only showing top 3 rows

26/02/04 19:39:19 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:19 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [222]:
# get all the record where the state  is calofornia 

dff.where(col('state').contains("California")).show(3)

+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|                prod|         city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves|   Long Beach|California|credit|
|     2|2011-06-01|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|      Anaheim|California|credit|
|    12|2011-02-08|4002473| 41.52|      Indoor Games|             Bowling|San Francisco|California|credit|
+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
only showing top 3 rows

26/02/04 19:39:19 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:19 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [223]:
# record where state start with s
dff.where(col("state").startswith('S')).show(3)

+------+----------+-------+-----+------------------+--------------------+----------+--------------+------+
|txn_id|    txn_dt|    cid|  amt|          prod_cat|                prod|      city|         state|  mode|
+------+----------+-------+-----+------------------+--------------------+----------+--------------+------+
|     6|2011-10-28|4002190|27.89|           Puzzles|      Jigsaw Puzzles|Charleston|South Carolina|credit|
|    16|2011-05-28|4009135|35.56|Exercise & Fitness|    Free Weight Bars|  Columbia|South Carolina|credit|
|    53|2011-06-12|4003091|44.46|      Water Sports|Scuba Diving & Sn...|Charleston|South Carolina|  cash|
+------+----------+-------+-----+------------------+--------------------+----------+--------------+------+
only showing top 3 rows

26/02/04 19:39:19 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:19 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [224]:
# record where the state is texas, california and illlinios

dff.where(col('state').isin('Texas','California','Illinios')).show(4)

+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|                prod|         city|     state|  mode|
+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
|     1|2011-05-26|4006742|198.44|Exercise & Fitness|Weightlifting Gloves|   Long Beach|California|credit|
|     2|2011-06-01|4009775|  5.58|Exercise & Fitness|Weightlifting Mac...|      Anaheim|California|credit|
|    12|2011-02-08|4002473| 41.52|      Indoor Games|             Bowling|San Francisco|California|credit|
|    14|2011-02-25|4004613| 36.81|        Gymnastics|     Vaulting Horses|  Los Angeles|California|credit|
+------+----------+-------+------+------------------+--------------------+-------------+----------+------+
only showing top 4 rows

26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [225]:
# get all the record where amt is between 100 and 120 for state texas

dff.where(col('amt').between(100,120) & col('state').like('Texas')).show(5)

26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

+------+----------+-------+------+------------------+-----------------+-----------+-----+------+
|txn_id|    txn_dt|    cid|   amt|          prod_cat|             prod|       city|state|  mode|
+------+----------+-------+------+------------------+-----------------+-----------+-----+------+
|   101|2011-11-09|4000918|119.77|           Jumping|      Pogo Sticks|Brownsville|Texas|credit|
|   247|2011-04-29|4000987|118.17|       Team Sports|Indoor Volleyball|Brownsville|Texas|credit|
|   290|2011-01-14|4002340|106.57|Outdoor Recreation|      Motorsports|    El Paso|Texas|credit|
|   469|2011-04-13|4003977|118.43|Exercise & Fitness|   Weight Benches|    El Paso|Texas|credit|
|   506|2011-08-15|4005887|118.24|        Air Sports|       Parachutes|    Houston|Texas|credit|
+------+----------+-------+------+------------------+-----------------+-----------+-----+------+
only showing top 5 rows


## Aggregrate function

In [226]:
from pyspark.sql.functions import sum, mean, median, mode,max,min,avg

In [227]:
dff.select(sum('amt').alias("total sum")).show()

26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

+-----------------+
|        total sum|
+-----------------+
|5110820.539535046|
+-----------------+

In [228]:
dff.select(mean('amt').alias("mean")).show()

+-----------------+
|             mean|
+-----------------+
|102.2164107907009|
+-----------------+

26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:20 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [229]:
dff.select(median('amt').alias("median")).show()

+------+
|median|
+------+
|101.75|
+------+

26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [230]:
dff.select(mode('amt').alias("mode")).show()

26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

+------+
|  mode|
+------+
|154.13|
+------+

In [231]:
dff.select(mode('amt').alias("mode")).show()

+------+
|  mode|
+------+
|154.13|
+------+

26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [232]:

# state wise sales amt

dff.groupby('state').sum('amt').sort('state').show()

26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

+--------------------+------------------+
|               state|          sum(amt)|
+--------------------+------------------+
|             Alabama| 116015.3399977684|
|             Arizona|131291.33010196686|
|          California| 702346.2297234535|
|            Colorado|178299.69983911514|
|         Connecticut| 91083.69986629486|
|District of Columbia| 49720.36013650894|
|             Florida|274858.94989967346|
|             Georgia| 89437.00991249084|
|              Hawaii| 42950.01008939743|
|               Idaho|  45031.1400475502|
|            Illinois|134022.52981328964|
|             Indiana|   44615.710044384|
|                Iowa| 46807.73005390167|
|              Kansas| 92713.34991025925|
|            Kentucky| 90281.04980659485|
|           Louisiana|48836.109909534454|
|            Maryland|44926.589975357056|
|       Massachusetts| 143744.6599855423|
|            Michigan|  98196.7000837326|
|           Minnesota| 92497.84995126724|
+--------------------+------------------+
only showing top 20 rows

In [233]:
# state and city wise average sales 

dff.groupby("state","city").agg(
    avg("amt").alias("average"),
    sum("amt").alias("sum of the sales"),
    min("amt").alias("min of the sales"),
    max("amt").alias("max of the sales")
).orderBy("state","city").show()

26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:21 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

+----------+-------------+------------------+------------------+----------------+----------------+
|     state|         city|           average|  sum of the sales|min of the sales|max of the sales|
+----------+-------------+------------------+------------------+----------------+----------------+
|   Alabama|   Birmingham| 96.31901868704324|20612.269999027252|            5.57|          199.39|
|   Alabama|   Huntsville|105.72108844943057| 46623.00000619888|            5.92|          199.21|
|   Alabama|   Montgomery|102.26429767828567| 48780.06999254227|             5.2|          199.94|
|   Arizona|      Gilbert|101.02115015983581|40408.460063934326|            5.71|           200.0|
|   Arizona|      Phoenix|102.27162560694467| 45919.95989751816|            5.31|          199.58|
|   Arizona|   Scottsdale|103.12594068925316|44962.910140514374|            5.01|          199.99|
|California|      Anaheim|102.17424368373966| 45263.18995189667|            5.06|           199.4|
|California|     Berkeley|101.00267895705154| 43734.15998840332|            6.05|          199.88|
|California|      Fremont|103.70938868293595| 47498.90001678467|            5.19|          199.88|
|California|       Irvine|106.51738352363232| 48039.33996915817|            5.51|           199.8|
|California|   Long Beach|109.30850627907084|52686.700026512146|            5.24|          199.64|
|California|  Los Angeles| 98.61890825954588| 45167.45998287201|            5.03|          199.67|
|California|      Oakland|103.67668746709823| 49764.80998420715|            5.16|          199.89|
|California|       Orange|103.09028390609541|  47215.3500289917|            5.23|          199.92|
|California|     Pasadena|100.77334046006457| 47061.14999485016|            5.66|           199.3|
|California|   Sacramento|102.86778028463495| 47730.65005207062|             5.8|          199.09|
|California|    San Diego| 99.36983854649803|43126.509929180145|             5.1|          199.86|
|California|San Francisco|100.53425726076452|  45340.9500246048|            5.38|          199.83|
|California|     San Jose|104.16485783203426|47603.340029239655|            5.01|          199.37|
|California|    Santa Ana|103.45356197930201|48209.359882354736|            5.32|          198.97|
+----------+-------------+------------------+------------------+----------------+----------------+
only showing top 20 rows

In [234]:
from  pyspark.sql import Window
from pyspark.sql.functions import lag, lead, rank,year, when, lit,concat,to_date

In [235]:
 win_funct = Window.partitionBy("state")\
             .orderBy("city")\
             .rowsBetween(-2,Window.currentRow)

In [236]:
win_fun_2 = Window.partitionBy("state").orderBy("sum")

In [237]:
txn_df_new = dff.groupby("state","city").agg(
    sum("amt").alias("sum")
     ).orderBy("state","city")

txn_df_new.withColumn("lag",lag(col("sum")).over(win_fun_2)).show()

+----------+-------------+------------------+------------------+
|     state|         city|               sum|               lag|
+----------+-------------+------------------+------------------+
|   Alabama|   Birmingham|20612.269999027252|              NULL|
|   Alabama|   Huntsville| 46623.00000619888|20612.269999027252|
|   Alabama|   Montgomery| 48780.06999254227| 46623.00000619888|
|   Arizona|      Gilbert|40408.460063934326|              NULL|
|   Arizona|   Scottsdale|44962.910140514374|40408.460063934326|
|   Arizona|      Phoenix| 45919.95989751816|44962.910140514374|
|California|    San Diego|43126.509929180145|              NULL|
|California|     Berkeley| 43734.15998840332|43126.509929180145|
|California|    Sunnyvale|43904.359862327576| 43734.15998840332|
|California|  Los Angeles| 45167.45998287201|43904.359862327576|
|California|      Anaheim| 45263.18995189667| 45167.45998287201|
|California|San Francisco|  45340.9500246048| 45263.18995189667|
|California|     Pasadena| 47061.14999485016|  45340.9500246048|
|California|       Orange|  47215.3500289917| 47061.14999485016|
|California|      Fremont| 47498.90001678467|  47215.3500289917|
|California|     San Jose|47603.340029239655| 47498.90001678467|
|California|   Sacramento| 47730.65005207062|47603.340029239655|
|California|       Irvine| 48039.33996915817| 47730.65005207062|
|California|    Santa Ana|48209.359882354736| 48039.33996915817|
|California|      Oakland| 49764.80998420715|48209.359882354736|
+----------+-------------+------------------+------------------+
only showing top 20 rows

26/02/04 19:39:22 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:22 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

### how to modify data frame column

In [238]:
# rename the col amt -> amount
# change the type of the cid from string to int 
# add new column as year ( derive from the txn_date)
# add new trans_cat
# if amount < 20 T1
# if  amount < 50 T2 
# otherwise T3

In [239]:
dff.withColumnRenamed("amt","amount")\
   .withColumn("cid",col("cid").cast(IntegerType()))\
   .withColumn("year",year(col("txn_dt")))\
   .withColumn("trans_cat",when(col("amount") < 20, "T1")
                        .when(col("amount")< 50, "T2")
                        .otherwise("T3")).show(10)

+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+----+---------+
|txn_id|    txn_dt|    cid|amount|            prod_cat|                prod|          city|         state|  mode|year|trans_cat|
+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+----+---------+
|     0|2011-06-26|4007024| 40.33|  Exercise & Fitness|Cardio Machine Ac...|   Clarksville|     Tennessee|credit|2011|       T2|
|     1|2011-05-26|4006742|198.44|  Exercise & Fitness|Weightlifting Gloves|    Long Beach|    California|credit|2011|       T3|
|     2|2011-06-01|4009775|  5.58|  Exercise & Fitness|Weightlifting Mac...|       Anaheim|    California|credit|2011|       T1|
|     3|2011-06-05|4002199|198.19|          Gymnastics|    Gymnastics Rings|     Milwaukee|     Wisconsin|credit|2011|       T3|
|     4|2011-12-17|4002613| 98.81|         Team Sports|        Field Hockey|   Nashville  |     Tennessee|credit|2011|       T3|
|     5|2011-02-14|4007591|193.63|  Outdoor Recreation|Camping & Backpac...|       Chicago|      Illinois|credit|2011|       T3|
|     6|2011-10-28|4002190| 27.89|             Puzzles|      Jigsaw Puzzles|    Charleston|South Carolina|credit|2011|       T2|
|     7|2011-07-14|4002964| 96.01|Outdoor Play Equi...|           Sandboxes|      Columbus|          Ohio|credit|2011|       T3|
|     8|2011-01-17|4007361| 10.44|       Winter Sports|        Snowmobiling|    Des Moines|          Iowa|credit|2011|       T1|
|     9|2011-05-17|4004798|152.46|             Jumping|      Bungee Jumping|St. Petersburg|       Florida|credit|2011|       T3|
+------+----------+-------+------+--------------------+--------------------+--------------+--------------+------+----+---------+
only showing top 10 rows

26/02/04 19:39:23 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.
26/02/04 19:39:23 WARN ParseMode: DROPMAL FORMED is not a valid parse mode. Using PERMISSIVE.

In [240]:


data_list =     [("Ravi", "28", "1", "2002"),

                 ("Abdul", "23", "5", "81"),  # 1981 

                 ("John", "12", "12", "6"),  # 2006

                 ("Rosy", "7", "8", "63"),  # 1963

                 ("Abdul", "23", "5", "81"),

                 ("Vijay", "2", "5", "21")]  # 2021
 
 
raw_df = spark.createDataFrame(data_list).toDF("name","day","month","year")

In [241]:
raw_df.show()

+-----+---+-----+----+
| name|day|month|year|
+-----+---+-----+----+
| Ravi| 28|    1|2002|
|Abdul| 23|    5|  81|
| John| 12|   12|   6|
| Rosy|  7|    8|  63|
|Abdul| 23|    5|  81|
|Vijay|  2|    5|  21|
+-----+---+-----+----+

In [242]:
raw_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: string (nullable = true)

In [243]:
# 01. Get year in yyyy

#     if year < 27 => year+2000

#     if year < 100 => year+1900

#     else year
 
# 02. concat month,day and year with some seperator ("-") : new col name : doj

#     "28-1-2002"

#    concat(col("day"),lit("-"),col("month"),lit("-"),col("year"))
 
# 03. convert doj "28-1-2002" from string type into dateType :
 
# 04. drop three col : day, month and year
 
# 05. drop duplicate records


raw_df.withColumn("day",col("day").cast(IntegerType()))\
      .withColumn("month",col("month").cast(IntegerType()))\
      .withColumn("year",col("year").cast(IntegerType()))\
    .printSchema()

root
 |-- name: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)

In [244]:
raw_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: string (nullable = true)

In [245]:
final_df_data = raw_df.withColumn("year",col("year").cast(IntegerType()))\
     .withColumn("year",when(col("year")<27,lit(2000)+col("year"))
                        .when(col("year")<100,lit(1900)+col("year"))
                         .otherwise(col("year")))\
     .withColumn("doj",concat(col("day"),lit("-"),col("month"),lit("-"),col("year")))\
     .withColumn("doj", to_date(col("doj"), "d-M-y"))\
      .drop("day","month","year")\
      .dropDuplicates()\

In [246]:
final_df_data.show()

+-----+----------+
| name|       doj|
+-----+----------+
| Ravi|2002-01-28|
|Abdul|1981-05-23|
| John|2006-12-12|
| Rosy|1963-08-07|
|Vijay|2021-05-02|
+-----+----------+

## saving data

In [ ]:
dff.write.format("json").