In [5]:
! pip install pyspark
from pyspark import SparkContext

Collecting pyspark
  Downloading pyspark-4.1.1.tar.gz (455.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 455.4/455.4 MB 2.4 MB/s  0:01:58[0m eta 0:00:01[36m0:00:04
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting py4j<0.10.9.10,>=0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.9-py2.py3-none-any.whl.metadata (1.3 kB)
Downloading py4j-0.10.9.9-py2.py3-none-any.whl (203 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (pyproject.toml) ... done
  Created wheel for pyspark: filename=pyspark-4.1.1-py2.py3-none-any.whl size=456008707 sha256=e831097dbce907894d3066515d3b699b0fb3b96d6890fb98aaf0123644a22206
  Stored in directory: /home/hadoop/.cache/pip/wheels/73/4f/41/4e171cb4fbdafa33a7b8e1d7e8b19e04e0c075aad98572acec
Successfully built pyspark
Installing collected packages: py4j, pyspark
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pyspark]━━━ 1/2 [pyspark]
Successfully installed py4j-0.10.9.9 pyspark-4.1.1

In [6]:
sc = SparkContext(appName="rdds",master="local[2]").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/03 18:44:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/03 18:44:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
sc

In [16]:
rdd1.first()

'4000001,Kristina,Chung,55,Pilot'

In [33]:
rdd1 = sc.textFile("/home/hadoop/Downloads/custs_without_header.csv")

In [17]:
rdd2 = rdd1.map(lambda rec : rec.split(','))
rdd2.take(10)

[['4000001', 'Kristina', 'Chung', '55', 'Pilot'],
 ['4000002', 'Paige', 'Chen', '74', 'Teacher'],
 ['4000003', 'Sherri', 'Melton', '34', 'Firefighter'],
 ['4000004', 'Gretchen', 'Hill', '66', 'Computer hardware engineer'],
 ['4000005', 'Karen', 'Puckett', '74', 'Lawyer'],
 ['4000006', 'Patrick', 'Song', '42', 'Veterinarian'],
 ['4000007', 'Elsie', 'Hamilton', '43', 'Pilot'],
 ['4000008', 'Hazel', 'Bender', '63', 'Carpenter'],
 ['4000009', 'Malcolm', 'Wagner', '39', 'Artist'],
 ['4000010', 'Dolores', 'McLaughlin', '60', 'Writer']]

In [20]:
# get the record where age is > 50

rdd3 = rdd2.filter(lambda lst : int(lst[3]) > 50)
rdd3.take(10)

[['4000001', 'Kristina', 'Chung', '55', 'Pilot'],
 ['4000002', 'Paige', 'Chen', '74', 'Teacher'],
 ['4000004', 'Gretchen', 'Hill', '66', 'Computer hardware engineer'],
 ['4000005', 'Karen', 'Puckett', '74', 'Lawyer'],
 ['4000008', 'Hazel', 'Bender', '63', 'Carpenter'],
 ['4000010', 'Dolores', 'McLaughlin', '60', 'Writer'],
 ['4000014', 'Beth', 'Woodard', '65', ''],
 ['4000016', 'Jerome', 'Wallace', '52', 'Pharmacist'],
 ['4000017', 'Neal', 'Lawrence', '72', 'Computer support specialist'],
 ['4000019', 'Kristine', 'Dougherty', '63', 'Financial analyst']]

In [25]:
rdd4 = rdd2.filter(lambda lst : len(lst[4]) == 0)
rdd4.take(10)

[['4000014', 'Beth', 'Woodard', '65', ''],
 ['4000046', 'Louis', 'Rosenthal', '31', ''],
 ['4000257', 'Monica', 'Dodson', '58', ''],
 ['4000327', 'Heather', 'Dawson', '43', ''],
 ['4000411', 'Joanna', 'Hoover', '50', ''],
 ['4000463', 'Wayne', 'Weiner', '70', ''],
 ['4000494', 'Stephen', 'Waller', '75', ''],
 ['4000679', 'Herbert', 'Jernigan', '59', ''],
 ['4000695', 'Chris', 'Anderson', '52', ''],
 ['4000890', 'Hannah', 'Casey', '30', '']]

In [27]:
rdd5 = rdd2.filter(lambda lst : lst[4] in ['Pilot','Carpenter','Lawyer'] and int(lst[3]) > 50)
rdd5.take(10)

[['4000001', 'Kristina', 'Chung', '55', 'Pilot'],
 ['4000005', 'Karen', 'Puckett', '74', 'Lawyer'],
 ['4000008', 'Hazel', 'Bender', '63', 'Carpenter'],
 ['4000033', 'Tim', 'Watts', '58', 'Lawyer'],
 ['4000131', 'Beth', 'Willis', '62', 'Carpenter'],
 ['4000195', 'Claire', 'Pickett', '59', 'Lawyer'],
 ['4000212', 'Charlene', 'Stevenson', '65', 'Carpenter'],
 ['4000229', 'Faye', 'Norman', '64', 'Pilot'],
 ['4000251', 'Jeremy', 'House', '61', 'Pilot'],
 ['4000271', 'Alice', 'Nance', '59', 'Pilot']]

In [32]:
rdd6 = rdd2.filter(lambda lst : lst[4] == 'Pilot' and int(lst[3]) > 50)
rdd6.take(10)

[['4000001', 'Kristina', 'Chung', '55', 'Pilot'],
 ['4000229', 'Faye', 'Norman', '64', 'Pilot'],
 ['4000251', 'Jeremy', 'House', '61', 'Pilot'],
 ['4000271', 'Alice', 'Nance', '59', 'Pilot'],
 ['4000336', 'Steven', 'Ballard', '62', 'Pilot'],
 ['4000392', 'Emma', 'Olson', '74', 'Pilot'],
 ['4000403', 'Leo', 'Lassiter', '65', 'Pilot'],
 ['4000423', 'Alan', "O'Neal", '59', 'Pilot'],
 ['4000562', 'Jordan', 'Wrenn', '61', 'Pilot'],
 ['4000601', 'Allan', 'Nguyen', '51', 'Pilot']]

#### MORE ABOUT SPARK 
     - WEB UI 
     - JOB - Stages - Task
     - Actions and Transformation 
     - Cache and persists

In [36]:
rdd3.getNumPartitions()

2