In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('df').master('local[2]').getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/03 22:19:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/02/03 22:19:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
26/02/03 22:19:34 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
spark

In [8]:
df = spark.read.csv("/home/hadoop/Downloads/custs_without_header.csv",header=True)

In [9]:
df.show(3)

+----------+----------+---------+---+-----------+
|custmer_id|First_name|Last_name|age| Occupation|
+----------+----------+---------+---+-----------+
|   4000001|  Kristina|    Chung| 55|      Pilot|
|   4000002|     Paige|     Chen| 74|    Teacher|
|   4000003|    Sherri|   Melton| 34|Firefighter|
+----------+----------+---------+---+-----------+
only showing top 3 rows